
.P-login
    width 100%
    height 100%
    min-width: 1200px
    background-image: url("../../common/img/loginbgi.png")
    background-size: 100% 100%
    .box
        position: fixed
        top: 50%
        background-color: rgba(0,0,0,.2)
        width: 100%
        min-width: 1200px
        height: 370px
        margin-top: -150px
        text-align: center
        display: flex
        justify-content:space-around
        .bgi
          width: 700px
          height: 130px
          background-image: url("../../common/img/login.png")
          background-size: 100%
          background-repeat: no-repeat
          margin-top: 120px
        .main
          width: 400px
          h3
            height: 60px
            line-height: 60px
            color: #fff
            font-weight: 900
            background: #bc2b24
            margin: 0
          form
            background-color: #fff
            height: 309px
            border-top:1px solid #fff
            margin: 0
            padding: 20px
            .ant-form-item
              margin-top: 30px
              height: 36px
        
        
        
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.btn
  display flex
  justify-content:space-around
  .login-form-button
    width 173px
    height 42px
    border-radius: 10px
    background-color: #bc2b24
    border: none


    

