.ant-carousel .slick-slide {
  text-align: center;
  height: 150px;
  line-height: 75px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.slick-slider,.slick-track
  width 150px
  height 75px